<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i> </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/books'}">Books</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('MEMBER')">
                    <a class="nav-link" th:href="@{'/books'}">My borrows</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('MEMBER')">
                    <a class="nav-link" th:href="@{'/books'}">Membership History</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{'/categories'}">Authors</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{'/categories'}">Publishers</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{'/categories'}">Genres</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{'/categories'}">Add borrow</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{'/categories'}">Add membership</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'register'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logout-form" method="post" th:action="@{/logout}">
                        <button class="nav-link btn-primary" type="submit">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${book.title}">Title</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Genres:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <li th:each="genre : ${book.genres}" th:text="${genre.name}">genre</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Author</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${book.author?.name ?: 'Unknown Author'}">author</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Publisher</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${book.publisher?.name ?: 'Unknown Publishe'}">publisher</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>